<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
    <script type="text/javascript" charset="utf-8">
    var socket = io();
    socket.on('connect', function() {
        socket.emit('my event', {data: 'I\'m connected!'});
    });
    socket.on('json', function(data) {
        socket.emit('my event', {data: data});
    });
    </script>
    {% endblock %}
</head>
<style>
    body{
        text-align: center;
    }
    .menu{
        margin-left: 5%;
    }
</style>
<body>
{% block body %}
<div style="text-align: center; margin: auto; height: 50px">
    <a class='menu' href="/q1">Find a PC with Price</a>
    <a class='menu' href="/q2">Find a Laptop with Specs</a>
    <a class='menu' href="/q3">Find products of the manufacturer</a>
</div>    
<div style="text-align: center; margin: auto;">
    <a class='menu' href="/q4">Find a PC and a Printer with your budget</a>
    <a class='menu' href="/q5">Add a brand new PC to the database</a>
    </div>
{% endblock %}
</body>
</html>