{% extends 'base.html' %}
{% block content %}
            <button type="button" class="btn btn-labeled btn-primary pull-right">
               <span class="btn-label"><i class="fa fa-dollar"></i>
               </span>Goto Wallet</button>
            <h3>Dashboard
            </h3>
            <div class="row">
               <div class="col-md-9">
                  <!-- First Row Starts Here -->
                  <div class="row">
                     <div class="col-lg-3 col-sm-6">
                        <div data-toggle="play-animation" data-play="fadeInDown" data-offset="0" data-delay="100"
                           class="panel widget">
                           <div class="panel-body bg-primary">
                              <div class="row row-table row-flush">
                                 <div class="col-xs-12">
                                    <p class="mb0">$759,781,417.92 <em class="fa fa-level-up">
                                       </em>
                                    </p>
                                    <h4 class="m0">Market Cap</h4>
                                    <span class="m-t-10"><i class="fa fa-dollar"></i> Total Market Capital
                                    </span>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="col-lg-3 col-sm-6">
                        <div data-toggle="play-animation" data-play="fadeInDown" data-offset="0" data-delay="500"
                           class="panel widget">
                           <div class="panel-body bg-warning">
                              <div class="row row-table row-flush">
                                 <div class="col-xs-12">
                                    <p class="mb0">$1,947,201.24 <em class="fa fa-level-down"></em></p>
                                    <h4 class="m0">Trade Volume</h4>
                                    <span class="f-left m-t-10">
                                       <i class="fa fa-dollar"></i> 24h Trade Volume
                                    </span>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="col-lg-3 col-sm-6">
                        <div data-toggle="play-animation" data-play="fadeInDown" data-offset="0" data-delay="1000"
                           class="panel widget">
                           <div class="panel-body bg-danger">
                              <div class="row row-table row-flush">
                                 <div class="col-xs-12">
                                    <p class="mb0">32.4 Billions <em class="fa fa-refresh"></em></p>
                                    <h4 class="m0">Circ Supply</h4>
                                    <span class="m-t-10">
                                       <i class="text-c-green f-16 fa fa-refresh"></i> Circulating Supply
                                    </span>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="col-lg-3 col-sm-6">
                        <div data-toggle="play-animation" data-play="fadeInDown" data-offset="0" data-delay="1500"
                           class="panel widget">
                           <div class="panel-body bg-success">
                              <div class="row row-table row-flush">
                                 <div class="col-xs-12">
                                    <p class="mb0">40 Billions <em class="fa fa-money"></em></p>
                                    <h4 class="m0">Total Supply</h4>
                                    <span class="f-left m-t-10">
                                       <i class="fa fa-money"></i> Total Supply
                                    </span>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <!-- First Row Ends Here -->
                  <div class="row">
                     <div class="col-lg-12">
                        <div class="panel panel-default">
                           <div class="panel-heading">All Markets
                              <a href="javascript:void(0);" data-perform="panel-dismiss" data-toggle="tooltip" title=""
                                 class="pull-right" data-original-title="Close Panel">
                                 <em class="fa fa-times"></em>
                              </a>
                              <a href="javascript:void(0);" data-perform="panel-collapse" data-toggle="tooltip" title=""
                                 class="pull-right" data-original-title="Collapse Panel">
                                 <em class="fa fa-plus"></em>
                              </a>
                           </div>
                           <div class="panel-wrapper collapse">
                              <div class="panel panel-default">
                                 <div class="panel-heading">All Markets |
                                    <small>All Availble Markets</small>
                                 </div>
                                 <div class="panel-body">
                                    <table id="datatable1" class="table table-striped table-hover">
                                       <thead>
                                          <tr>
                                             <th class="tableSmallPad">Coin</th>
                                             <th class="tableSmallPad">Price</th>
                                             <th class="tableSmallPad">Vol</th>
                                             <th class="tableSmallPad">CHG</th>
                                             <th class="tableSmallPad">Name</th>
                                          </tr>
                                       </thead>
                                       <tbody>
                                          <!-- BCH Starts Here -->
                                          <tr class="clickable-row" data-href="index.html">
                                             <td class="tableSmallPad">
                                                <!--RADIO 1-->
                                                <input type="radio" class="radio_item" value="" name="BCH" id="radio1">
                                                <label class="label_item" for="radio1"> <i
                                                      class="fa fa-star text-c-blue"></i> </label> BCH
                                             </td>
                                             <td class="tableSmallPad">0.16000009</td>
                                             <td class="tableSmallPad">2967.720</td>
                                             <td class="text-c-blue tableSmallPad">+17.84</td>
                                             <td class="tableSmallPad">Bitcoin Cash</td>
                                          </tr>
                                          <!-- BCH Ends Here -->
                                          <!-- ETH Starts Here -->
                                          <tr class="clickable-row" data-href="index.html">
                                             <td class="tableSmallPad"><input type="radio" class="radio_item" value=""
                                                   name="ETH" id="radio10">
                                                <label class="label_item" for="radio10"> <i
                                                      class="fa fa-star text-c-blue"></i> </label> ETH
                                             </td>
                                             <td class="tableSmallPad">0.10039995</td>
                                             <td class="tableSmallPad">2887.720</td>
                                             <td class="text-c-blue tableSmallPad">+1.35</td>
                                             <td class="tableSmallPad">Ethereum</td>
                                          </tr>
                                          <!-- ETH Ends Here -->
                                          <!-- XRP Starts Here -->
                                          <tr class="clickable-row" data-href="index.html">
                                             <td class="tableSmallPad"><input type="radio" class="radio_item" value=""
                                                   name="ETH" id="radio3">
                                                <label class="label_item" for="radio3"> <i
                                                      class="fa fa-star text-c-blue"></i> </label> XRP
                                             </td>
                                             <td class="tableSmallPad">0.00009485</td>
                                             <td class="tableSmallPad">1633.576</td>
                                             <td class="text-c-blue tableSmallPad">+5.10</td>
                                             <td class="tableSmallPad">Ripple</td>
                                          </tr>
                                          <!-- XRP Ends Here -->
                                          <!-- STR Starts Here -->
                                          <tr class="clickable-row" data-href="index.html">
                                             <td class="tableSmallPad"><input type="radio" class="radio_item" value=""
                                                   name="ETH" id="radio4">
                                                <label class="label_item" for="radio4"> <i
                                                      class="fa fa-star text-c-blue"></i> </label> STR
                                             </td>
                                             <td class="tableSmallPad">0.00004322</td>
                                             <td class="tableSmallPad">1196.608</td>
                                             <td class="text-c-red tableSmallPad">-0.05</td>
                                             <td class="tableSmallPad">Stellar</td>
                                          </tr>
                                          <!-- STR Ends Here -->
                                          <!-- LTC Starts Here -->
                                          <tr class="clickable-row" data-href="index.html">
                                             <td class="tableSmallPad"><input type="radio" class="radio_item" value=""
                                                   name="ETH" id="radio5">
                                                <label class="label_item" for="radio5"> <i
                                                      class="fa fa-star text-c-blue"></i> </label> LTC
                                             </td>
                                             <td class="tableSmallPad">0.01790003</td>
                                             <td class="tableSmallPad">1115.235</td>
                                             <td class="text-c-blue tableSmallPad">+1.58</td>
                                             <td class="tableSmallPad">Litecoin</td>
                                          </tr>
                                          <!-- LTC Ends Here -->
                                          <!-- SC Starts Here -->
                                          <tr class="clickable-row" data-href="index.html">
                                             <td class="tableSmallPad"><input type="radio" class="radio_item" value=""
                                                   name="ETH" id="radio6">
                                                <label class="label_item" for="radio6"> <i
                                                      class="fa fa-star text-c-blue"></i> </label> SC
                                             </td>
                                             <td class="tableSmallPad">0.00000272</td>
                                             <td class="tableSmallPad">131.014</td>
                                             <td class="text-c-blue tableSmallPad">+1.87</td>
                                             <td class="tableSmallPad">Siacoin</td>
                                          </tr>
                                          <!-- SC Ends Here -->
                                          <!-- Doge Starts Here -->
                                          <tr class="clickable-row" data-href="index.html">
                                             <td class="tableSmallPad"><input type="radio" class="radio_item" value=""
                                                   name="ETH" id="radio7">
                                                <label class="label_item" for="radio7"> <i
                                                      class="fa fa-star text-c-blue"></i> </label> DOGE
                                             </td>
                                             <td class="tableSmallPad">0.00000055</td>
                                             <td class="tableSmallPad">169.631</td>
                                             <td class="text-c-red tableSmallPad">-1.79</td>
                                             <td class="tableSmallPad">Dogecoin</td>
                                          </tr>
                                          <!-- Doge Ends Here -->
                                          <!-- DBG Starts Here -->
                                          <tr class="clickable-row" data-href="index.html">
                                             <td class="tableSmallPad"><input type="radio" class="radio_item" value=""
                                                   name="ETH" id="radio8">
                                                <label class="label_item" for="radio8"> <i
                                                      class="fa fa-star text-c-blue"></i> </label> DGB
                                             </td>
                                             <td class="tableSmallPad">0.00000402</td>
                                             <td class="tableSmallPad">90.224</td>
                                             <td class="text-c-blue tableSmallPad">+0.00</td>
                                             <td class="tableSmallPad">DigiByte</td>
                                          </tr>
                                          <!-- DGB Ends Here -->
                                          <!-- NXT Starts Here -->
                                          <tr class="clickable-row" data-href="index.html">
                                             <td class="tableSmallPad"><input type="radio" class="radio_item" value=""
                                                   name="ETH" id="radio9">
                                                <label class="label_item" for="radio9"> <i
                                                      class="fa fa-star text-c-blue"></i> </label> NXT
                                             </td>
                                             <td class="tableSmallPad">0.00002241</td>
                                             <td class="tableSmallPad">100.305</td>
                                             <td class="text-c-blue tableSmallPad">+2.56</td>
                                             <td class="tableSmallPad">NXT</td>
                                          </tr>
                                          <!-- NXT Ends Here -->
                                       </tbody>
                                    </table>
                                 </div>
                              </div>
                              <div class="panel-footer">All Markets</div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <!-- Chart Starts Here -->
                  <div class="row">
                     <div class="col-lg-12">
                        <div class="panel panel-default">
                           <div class="panel-collapse">
                              <div class="panel-body">
                                 <h4>BTC-SC</h4>
                                 <div id="candlestickChart" class="h-500">

                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <!-- Chart Ends Here -->
              
                  <!-- Coin Status Ends Here -->
               
            <!-- Orders Book -->
               <!-- Open Orders -->
               <div class="col-md-12">
                  <div class="panel panel-default">
                     <div class="panel-heading">Open Orders
                        <a href="#" data-perform="panel-collapse" data-toggle="tooltip" title="Collapse Panel"
                           class="pull-right">
                           <em class="fa fa-minus"></em>
                        </a>
                     </div>
                     <div class="table-responsive">
                        <table class="table table-bordered table-hover">
                           <thead>
                              <tr>
                                 <th><i class="fa fa-plus"></i></th>
                                 <th>Order Date</th>
                                 <th>Type</th>
                                 <th>Bid/Ask</th>
                                 <th>Units Filled SC</th>
                                 <th>Units Total SC</th>
                                 <th>Actual Rate</th>
                                 <th>Estimated Total BTC</th>
                                 <th><i class="fa fa-times"></i></th>
                              </tr>
                           </thead>
                           <tbody>
                              <tr>
                                 <td><i class="fa fa-minus"></i></td>
                                 <td>
                                    02/18/2018 05:36:12 PM
                                 </td>
                                 <td>Limit Sell</td>
                                 <td>0.00000305</td>
                                 <td>0.00000000</td>
                                 <td>26089.00161498</td>
                                 <td>
                                    0.00000000
                                 </td>
                                 <td>0.07937253</td>
                                 <td>
                                    <i class="fa fa-times btn btn-danger"></i>
                                 </td>
                              </tr>
                              <tr>
                                 <td><i class="fa fa-minus"></i></td>
                                 <td>
                                    02/18/2018 05:30:12 PM
                                 </td>
                                 <td>Limit Buy</td>
                                 <td>0.00000300</td>
                                 <td>0.00000000</td>
                                 <td>27000.00161498</td>
                                 <td>
                                    0.00000000
                                 </td>
                                 <td>0.07937253</td>
                                 <td>
                                    <i class="fa fa-times btn btn-danger"></i>
                                 </td>
                              </tr>
                           </tbody>
                        </table>
                     </div>
                     <div class="panel-footer">
                        <div class="row">
                           <div class="col-lg-2">
                              <div class="input-group">
                                 <input type="text" placeholder="Search" class="input-sm form-control">
                                 <span class="input-group-btn">
                                    <button type="button" class="btn btn-sm btn-default">Search</button>
                                 </span>
                              </div>
                           </div>
                           <div class="col-lg-8"></div>
                           <div class="col-lg-2">
                              <div class="input-group pull-right">
                                 <select class="input-sm form-control">
                                    <option value="0">Bulk action</option>
                                    <option value="1">Cancel All</option>
                                 </select>
                                 <span class="input-group-btn">
                                    <button class="btn btn-sm btn-default">Apply</button>
                                 </span>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <!-- Market History -->
               <!-- My Order History -->
          
            </div>
            </div>
   {% endblock %}
   {% block script %}
   <script src="{{ url_for('static', filename='plugins/jquery/jquery.js') }}"></script>
   <script src="{{ url_for('static', filename='plugins/velocity/velocity.js') }}"></script>
   <script src="{{ url_for('static', filename='plugins/velocity/velocity.ui.js') }}"></script>
   <script src="{{ url_for('static', filename='plugins/bootstrap/js/bootstrap.js') }}"></script>
   <script src="{{ url_for('static', filename='plugins/chosen/chosen.jquery.js') }}"></script>
   <script src="{{ url_for('static', filename='plugins/slider/js/bootstrap-slider.js') }}"></script>
   <script src="{{ url_for('static', filename='plugins/filestyle/bootstrap-filestyle.js') }}"></script>
   <script src="{{ url_for('static', filename='plugins/animo/animo.js') }}"></script>
   <script src="{{ url_for('static', filename='plugins/sparklines/jquery.sparkline.js') }}"></script>
   <script src="{{ url_for('static', filename='plugins/slimscroll/jquery.slimscroll.js') }}"></script>
   
   <script src="{{ url_for('static', filename='plugins/datatable/media/js/jquery.dataTables.js') }}"></script>
   <script src="{{ url_for('static', filename='plugins/datatable/extensions/datatable-bootstrap/js/dataTables.bootstrap.js') }}"></script>
   <script src="{{ url_for('static', filename='plugins/datatable/extensions/datatable-bootstrap/js/dataTables.bootstrapPagination.js') }}"></script>
   <script src="{{ url_for('static', filename='tradify/highcharts.js') }}"></script>
   <script src="{{ url_for('static', filename='tradify/exporting.js') }}"></script>
   <script src="{{ url_for('static', filename='plugins/datatable/extensions/ColVis/js/dataTables.colVis.js') }}"></script>
   <script src="{{ url_for('static', filename='app/js/tradify.js') }}"></script>
   <!--[if lt IE 8]><script src="js/excanvas.min.js"></script><![endif]-->
   <script>
      $(document).ready(function () {
         // Candlestick
         $.getJSON('tradify/data.json', function (data) {

            // create the chart
            Highcharts.stockChart('candlestickChart', {

               chart: {
               },


               rangeSelector: {
                  selected: 1
               },

               series: [{
                  type: 'candlestick',
                  name: 'SC-BTC',
                  data: data,
                  dataGrouping: {
                     units: [
                        [
                           'week', // unit name
                           [1] // allowed multiples
                        ], [
                           'month',
                           [1, 2, 3, 4, 6]
                        ]
                     ]
                  }
               }]
            });
         });
      });
   </script>
   {% endblock %}